  <h1>My To-Do List</h1>
  
<h3>Todo #<%= @todo.id %></h3>
      <input type="checkbox"/> <h2><%= @todo.description %></h2>
  <h4><%= @todo.pomodoro_estimate%> Pomodoros</h4>
  <a href="/todo/edit/<%= @todo.id %>" class="button edit-todo-button">Edit</a>   <a href="/todo/destroy/<%= @todo.id %>" class="button destroy-todo-button">Delete</a>   <a href="/" class="backbutton">Go Back</a> 
  
  
